# Kunci Penting Tidak Boleh Masuk Ke Github
.env.local
.env.gh.example
.env.gh.secret
.env.example
.dev.vars
trik-on-off.md
archive/
kod-yang-berjaya-sebelum-ini/
kunci_oci/
data/output/*.json
__pycache__/
